# Домашнее задание по мультииндексам

In [55]:
import pandas as pd
import numpy as np
import dtale

## Задание 1
### Постройте датафрейм заполненный нулями так, как это показано в ячейке ниже. Первые две колонки являются мультииндексом. Для заполнения датафрейма нулями воспользуйтесь функцией zeros из библиотеки numpy

                  0    1    2    3    4
Группа 1 Альфа  0.0  0.0  0.0  0.0  0.0
         Бета   0.0  0.0  0.0  0.0  0.0
Группа 2 Альфа  0.0  0.0  0.0  0.0  0.0
         Бета   0.0  0.0  0.0  0.0  0.0

In [56]:
task1_df = pd.DataFrame(np.zeros((4, 5)), index=[['Группа 1', 'Группа 1', 'Группа 2', 'Группа 2'],['Альфа', 'Бета', 'Альфа', 'Бета']])

In [57]:
print(task1_df)

                  0    1    2    3    4
Группа 1 Альфа  0.0  0.0  0.0  0.0  0.0
         Бета   0.0  0.0  0.0  0.0  0.0
Группа 2 Альфа  0.0  0.0  0.0  0.0  0.0
         Бета   0.0  0.0  0.0  0.0  0.0

In [58]:
task1_df.to_csv("output.csv")

### Получившися датафрейм сохраните в csv файл и загрузите на степик

In [59]:
task1_df.to_csv('result_task1_df.csv')

## Задание 2
### Загрузите файл task2.csv в котором содержится сводная информация о велопарковках в Москве

In [60]:
task2_df = pd.read_csv('/Users/magewade/Desktop/Python/Pandas/stepik_multiindex_lesson_1_v2/task2.csv', index_col=[0, 1]) # не редактируйте
import dtale
dtale.show(task2_df)

### По каждому району (District) и типу (cost_type) содержится количество парковок (count) и суммарное количество мест на этих парковках (sum)

In [61]:
task2_df_2 = task2_df.drop(columns="count")
task2_df_2 = task2_df_2.unstack(level=1)
task2_df_2.columns = task2_df_2.columns.droplevel(level=0)
print(task2_df_2)

cost_type               Бесплатная  Платная
District
Академический район           19.0      8.0
Алексеевский район            88.0     64.0
Алтуфьевский район            20.0     30.0
Бабушкинский район            62.0     77.0
Басманный район              116.0    109.0
...                            ...      ...
район Южное Бутово            36.0     92.0
район Южное Медведково        60.0     18.0
район Южное Тушино            12.0     44.0
район Якиманка                18.0     16.0
район Ясенево                 66.0     38.0

[125 rows x 2 columns]

### Выполните преобразование таким образом чтобы получился новый датафрейм, где строки будут всё так же районы, а по колонкам будет идти суммарное количество мест на парковке в разбивке платные/бесплатные

cost_type               Бесплатная  Платная
District                                   
Академический район           19.0      8.0
Алексеевский район            88.0     64.0
Алтуфьевский район            20.0     30.0
Бабушкинский район            62.0     77.0
Басманный район              116.0    109.0
...                            ...      ...
район Южное Бутово            36.0     92.0
район Южное Медведково        60.0     18.0
район Южное Тушино            12.0     44.0
район Якиманка                18.0     16.0
район Ясенево                 66.0     38.0

In [62]:
task2_df_2.to_csv("output.csv")

### Cохраните в csv файл и загрузите на Stepik

In [63]:
task2_df.to_csv('result_task2_df.csv')

## Задание 3
### Снова загружаем датафрейм с прошлого степа

In [64]:
task3_df = pd.read_csv('/Users/magewade/Desktop/Python/Pandas/stepik_multiindex_lesson_1_v2/task2.csv', index_col=[0, 1]) # не редактируйте

In [65]:
task3_df

                                count  sum
District            cost_type
Академический район Бесплатная      3   19
                    Платная         1    8
Алексеевский район  Бесплатная      9   88
                    Платная         7   64
Алтуфьевский район  Бесплатная      2   20
...                               ...  ...
район Южное Тушино  Платная         5   44
район Якиманка      Бесплатная      6   18
                    Платная         4   16
район Ясенево       Бесплатная      9   66
                    Платная         4   38

[235 rows x 2 columns]

### Отберите информацию о велопарковках в районах: 
#### - Алексеевский район
#### - район Южное Тушино
#### - район Ясенево

In [66]:
df = task3_df.loc[['Алексеевский район', 'район Южное Тушино', 'район Ясенево']]
print(df)

                               count  sum
District           cost_type
Алексеевский район Бесплатная      9   88
                   Платная         7   64
район Южное Тушино Бесплатная      2   12
                   Платная         5   44
район Ясенево      Бесплатная      9   66
                   Платная         4   38

### Посчитайте суммарное количество парковок в разрезе по платным и бесплатным
#### Для начала выполните преобразование как в прошлом задании, а потом вспомните, что мы проходили функцию суммирования по строкам и колонкам. Попробуй применить ее. На степик в поле с ответом введите 2 числа через пробел: количество по бесплатным и количество по платным
#### Например: 10 15

In [67]:
sum_b = df.groupby(level=1).sum()
sum_b

            count  sum
cost_type
Бесплатная     20  166
Платная        16  146

## Задание 4. 
### Загрузите файл task4.csv в котором содержится сводная информация о велопарковках в Москве

In [68]:
task4_df = pd.read_csv('/Users/magewade/Desktop/Python/Pandas/stepik_multiindex_lesson_1_v2/task4.csv', index_col=[0, 1, 2]) # не редактируйте

### По каждому административному округу (AdmArea), району (District) и типу (cost_type) содержится количество парковок (count) и суммарное количество мест на этих парковках (sum)

In [69]:
task4_df

                                                                         count
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная      1  \
                                 район Богородское           Бесплатная      2
                                                             Платная         1
                                 район Вешняки               Бесплатная      5
                                                             Платная         3
...                                                                        ...
Южный административный округ     район Чертаново Северное    Платная         2
                                 район Чертаново Центральное Бесплатная      7
                                                             Платная         3
                                 район Чертаново Южное       Бесплатная      9
                                                             Платная         4

                                                                         sum
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная    6
                                 район Богородское           Бесплатная   14
                                                             Платная       8
                                 район Вешняки               Бесплатная   35
                                                             Платная      17
...                                                                      ...
Южный административный округ     район Чертаново Северное    Платная      20
                                 район Чертаново Центральное Бесплатная   68
                                                             Платная      21
                                 район Чертаново Южное       Бесплатная   86
                                                             Платная      36

[247 rows x 2 columns]

### Посчитайте среднее количество бесплатных парковок в Южном административном округе. Ответ округлите вниз до целого числа. Ответ загрузите на степик.

In [70]:
m = task4_df.loc["Южный административный округ"].groupby(level=1).mean()
m

               count        sum
cost_type
Бесплатная  4.187500  38.062500
Платная     4.882353  42.058824

## Задание 5. 
### Загрузите файл task4.csv в котором содержится сводная информация о велопарковках в Москве

In [71]:
task5_df = pd.read_csv('/Users/magewade/Desktop/Python/Pandas/stepik_multiindex_lesson_1_v2/task4.csv', index_col=[0, 1, 2]) # не редактируйте

### По каждому административному округу (AdmArea), району (District) и типу (cost_type) содержится количество парковок (count) и суммарное количество мест на этих парковках (sum)

In [72]:
task5_df

                                                                         count
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная      1  \
                                 район Богородское           Бесплатная      2
                                                             Платная         1
                                 район Вешняки               Бесплатная      5
                                                             Платная         3
...                                                                        ...
Южный административный округ     район Чертаново Северное    Платная         2
                                 район Чертаново Центральное Бесплатная      7
                                                             Платная         3
                                 район Чертаново Южное       Бесплатная      9
                                                             Платная         4

                                                                         sum
AdmArea                          District                    cost_type
Восточный административный округ Нижегородский район         Бесплатная    6
                                 район Богородское           Бесплатная   14
                                                             Платная       8
                                 район Вешняки               Бесплатная   35
                                                             Платная      17
...                                                                      ...
Южный административный округ     район Чертаново Северное    Платная      20
                                 район Чертаново Центральное Бесплатная   68
                                                             Платная      21
                                 район Чертаново Южное       Бесплатная   86
                                                             Платная      36

[247 rows x 2 columns]

### Найдите в каком районе восточного административного округа больше всего мест на бесплатных парковках. Правильный район выберите из списка на степике.

In [73]:
max = task5_df.loc["Восточный административный округ"].groupby(level=[0, 1]).max()

In [74]:
max

                                      count  sum
District                  cost_type
Нижегородский район       Бесплатная      1    6
район Богородское         Бесплатная      2   14
                          Платная         1    8
район Вешняки             Бесплатная      5   35
                          Платная         3   17
район Восточное Измайлово Бесплатная      1    8
                          Платная         1   10
район Гольяново           Бесплатная      2    9
                          Платная         3   26
район Ивановское          Бесплатная      2   16
                          Платная         3   20
район Измайлово           Бесплатная      2   11
                          Платная         5   31
район Косино-Ухтомский    Бесплатная      3   18
                          Платная         7   47
район Метрогородок        Бесплатная      4   18
район Новогиреево         Бесплатная      2   11
                          Платная         2   18
район Новокосино          Бесплатная      1    1
                          Платная         4   25
район Перово              Бесплатная      5   35
район Преображенское      Бесплатная      3   21
                          Платная         2   11
район Северное Измайлово  Бесплатная      1    1
                          Платная         2   18
район Соколиная Гора      Бесплатная      4   16
                          Платная         4   25
район Сокольники          Бесплатная      4   28