In [2]:
import pandas as pd
import lxml

In [5]:
xml_data = open("users.xml").read()
df = pd.read_xml(xml_data, parser='etree')
df

,address,birthdate,blood_group,company,current_location,job,mail,name,residence,sex,ssn,username,website
0,"29948 Mason Summit\nRoblesshire, VA 63080",-620352000000,B-,Mills-Mitchell,NaN,"Investment banker, operational",joymcdonald@gmail.com,Erika Duncan,"697 Michael Land Apt. 950\nSouth Saraview, OK ...",F,880-74-0629,richardfisher,NaN
1,"65586 Beverly Camp Apt. 519\nToddshire, NY 32950",813456000000,B+,"Hampton, Torres and Parker",NaN,Press sub,ayalaaaron@gmail.com,Laurie Webb,"8090 Matthew Forest\nGarciaberg, TX 29182",F,052-01-0987,rlowe,NaN
2,Unit 5719 Box 7188\nDPO AA 69227,-1544140800000,B+,"Hicks, Lewis and Hernandez",NaN,Health and safety adviser,tsampson@yahoo.com,Jeffrey Miller,"29416 Richardson Lock Apt. 201\nWest Tinafort,...",M,836-81-8715,gerald45,NaN
3,"4201 Sydney Brooks\nPort Raymond, ND 10924",-1363219200000,AB+,Morse-Mccoy,NaN,Records manager,linda42@gmail.com,Jennifer Cummings,"71466 Marc Track\nLynnborough, WV 21340",F,677-21-9506,asuarez,NaN
4,"97225 Matthew Branch\nNew Caitlyn, IN 59591",-1033603200000,A+,Martin Inc,NaN,Chartered public finance accountant,nmay@yahoo.com,Nicholas Holmes,USS White\nFPO AE 16424,M,399-72-0313,pperry,NaN
5,"75979 Garcia Groves Suite 468\nPort Amyberg, H...",-677548800000,O+,Vaughn-Adams,NaN,Systems analyst,josephweber@gmail.com,Phillip Turner,"98327 Bell Spring Suite 814\nSouth Brianna, HI...",M,701-87-6161,rjohnson,NaN
6,"460 Dominique Path Suite 615\nTravisburgh, SD ...",-612057600000,O-,"Coleman, Brown and Obrien",NaN,Clinical research associate,marycampbell@gmail.com,Angela Washington,"8718 Kevin Loop\nBrownton, TX 21100",F,655-13-2054,glenn47,NaN
7,52009 Margaret Parks Suite 245\nLake Stephanie...,-1306886400000,AB+,Armstrong-Morales,NaN,Financial planner,lisa82@yahoo.com,Lisa Palmer,"7711 Alex Light\nNorth Amanda, WY 48534",F,856-66-4331,albert30,NaN
8,"51829 Warner Place\nJarvisstad, CT 78217",151372800000,A+,Robinson-Hall,NaN,Clothing/textile technologist,michael42@hotmail.com,Rachel Garcia,"3093 Kimberly Burgs Apt. 686\nFloresmouth, TX ...",F,745-29-5057,vanessa29,NaN
9,"22460 Townsend Knolls\nAliceside, MD 90237",268358400000,A-,Adams-Sanders,NaN,Farm manager,sandra38@gmail.com,Jasmine Stevenson,"576 Kayla Forest Apt. 132\nJohnshire, NM 20478",F,771-78-4418,anthony01,NaN
10,93977 Parker Avenue Apt. 625\nEast Williammout...,113011200000,AB+,"Reyes, Mayer and Gonzales",NaN,Trade union research officer,benjamin59@gmail.com,Richard Thomas,"309 Felicia Prairie\nWest Jacobhaven, NC 86869",M,089-24-9862,elliotttonya,NaN
11,"55234 Murray Forest\nKrystalland, AK 12525",-1521072000000,A-,Erickson Inc,NaN,"Scientist, physiological",jessetravis@yahoo.com,Debra Holland DDS,"PSC 3942, Box 0684\nAPO AP 00709",F,091-28-4952,melindalarsen,NaN
12,"90186 Austin Plains Apt. 551\nSarashire, DE 18781",1403049600000,B+,Garcia-Clark,NaN,"Radiographer, diagnostic",pollardgeorge@hotmail.com,Richard Richmond,"6166 Amy Branch\nSouth Kristinport, OK 77363",M,189-19-3431,ecastro,NaN
13,"5890 Allen Station\nNew Lisaborough, VT 56094",-1583625600000,A+,Miller-Salazar,NaN,"Education officer, environmental",julie65@gmail.com,Anna Brown,"PSC 8955, Box 2259\nAPO AP 19568",F,104-21-5024,banderson,NaN
14,"9674 Olson Pass\nPort David, RI 34294",-552268800000,AB+,Young-Smith,NaN,Veterinary surgeon,davilabrittany@yahoo.com,Kimberly Lewis,"3375 Donald Hollow\nWest Judith, WI 73627",F,192-41-8592,lopezstacey,NaN
15,"62345 Esparza Roads Apt. 637\nPort Karenville,...",-815788800000,AB+,Carr Inc,NaN,Customer service manager,bbrooks@yahoo.com,Joseph Tucker,"76130 Robinson Loop\nJerryberg, FL 08789",M,771-68-6395,sheppardkelly,NaN
16,"09442 Sean Track Apt. 443\nNorth Paulchester, ...",1651104000000,A+,Flores LLC,NaN,"Scientist, research (maths)",xwhite@yahoo.com,Gary Edwards,"9214 Paige View\nVasquezville, OH 93342",M,825-71-8736,jessicadouglas,NaN
17,"034 Michael Turnpike\nPerezside, AR 24210",-1083456000000,B+,Jones Ltd,NaN,Pension scheme manager,lowerysarah@yahoo.com,Christopher Dunlap,"1506 Carrie Creek\nMichellemouth, OR 95660",M,712-83-7147,gmartin,NaN
18,"53781 Henderson Stream\nDanielview, OK 69763",-539481600000,A+,Martinez-Berry,NaN,Medical sales representative,kimberly34@yahoo.com,Amanda Stewart,"1917 Daniel Plains Suite 532\nLake Cynthia, IN...",F,714-72-4832,steve27,NaN
19,Unit 1817 Box 5231\nDPO AE 89354,88041600000,O+,Jackson PLC,NaN,Dispensing optician,phamcaroline@hotmail.com,Jordan Scott,"0328 Christian Burgs\nArcherbury, AR 41376",F,764-84-1617,tinashaw,NaN
20,"7923 Hall Lane\nEast Albert, OK 23937",1519430400000,B-,"Garcia, Avila and Horn",NaN,Newspaper journalist,qwallace@gmail.com,Brian Terrell,"486 Collins Fork Suite 005\nNorth Regina, ME 5...",M,161-20-6969,barbaramartin,NaN
21,"PSC 1762, Box 6597\nAPO AE 36499",-1099008000000,A+,Fields-Wilson,NaN,Learning mentor,justinjimenez@yahoo.com,Margaret Norton,"821 Burns Port Apt. 116\nHoffmanfurt, NM 85305",F,850-22-7855,jthomas,NaN
22,"1039 Steven Junction\nLake Micheleburgh, UT 23835",1327795200000,B+,Jacobson-Huynh,NaN,"Accountant, chartered public finance",lmassey@gmail.com,Frances Mathews,"PSC 6693, Box 8802\nAPO AP 66512",F,332-09-7777,huffmanmichele,NaN
23,"4458 Contreras Bridge\nBenjaminberg, VA 31572",667785600000,O-,Johnson Inc,NaN,Computer games developer,atran@hotmail.com,Robert Owens,"PSC 6985, Box 1766\nAPO AE 11558",M,341-46-1227,jessicacooper,NaN
24,"0871 Lucas Branch\nBurketown, VT 42645",-1497916800000,B+,"Roberts, Hull and Sullivan",NaN,Aeronautical engineer,andrea38@gmail.com,Tammy Fitzgerald,"26720 Brandon Estate\nEast Robert, VT 83367",F,137-45-8312,mcgrathevan,NaN
25,"1471 Thomas Stream\nHallside, MN 60596",-621907200000,O-,Moses-Peters,NaN,Teaching laboratory technician,bergeduardo@hotmail.com,Barry Peters,"707 Castro Ports\nHamptonmouth, DC 69482",M,583-93-0020,nancy93,NaN
26,"779 Eugene Cape Suite 059\nArnoldberg, NC 93801",-199843200000,AB+,Delgado Group,NaN,Information systems manager,kjackson@yahoo.com,Cassie Palmer,"15825 Veronica Parks\nMartinchester, AR 36084",F,484-61-8925,sharon09,NaN
27,"3079 Pittman Views\nLake Brendaland, MO 50463",-1943049600000,O-,"Russo, Rogers and Ramirez",NaN,Technical sales engineer,benjaminbaldwin@hotmail.com,Jamie Caldwell,"PSC 9406, Box 1805\nAPO AP 53190",F,274-63-3765,elizabeth52,NaN
28,"3971 Melanie Inlet\nSouth Davidland, NY 46811",-1775088000000,AB-,Daniel-Bridges,NaN,Osteopath,mitchellfleming@gmail.com,Luis Nash,"162 Heidi Meadow\nSeanview, NC 03766",M,337-14-8516,reneeharding,NaN
29,Unit 8084 Box 9438\nDPO AA 51864,-1491955200000,A+,Reed-Harvey,NaN,Water engineer,richardcannon@yahoo.com,Christina Schmidt,"0061 Michelle Court Apt. 409\nBlackwellmouth, ...",F,123-91-1514,scott03,NaN
30,04865 Carter Fall Suite 326\nEast Stephenshire...,134265600000,B+,"Harris, Williams and Bailey",NaN,"Investment banker, corporate",hbaxter@gmail.com,Caroline Clark,"5998 Christina Ford\nPort Mathew, ND 84893",F,786-44-7416,johnmcdaniel,NaN
31,"90541 Young Mews Suite 145\nGordonborough, SD ...",435024000000,B-,"Ho, Hancock and Porter",NaN,Chief Operating Officer,stevengallagher@gmail.com,Carolyn Johnson,"29592 Martin Flat\nCampbellton, HI 67374",F,048-76-3820,lwilliams,NaN
32,"31419 Donald Harbor Apt. 137\nBartonfurt, CT 4...",-1772582400000,AB+,"Hernandez, Small and Williams",NaN,Conference centre manager,fergusonwilliam@hotmail.com,John Howard,"27430 Michael Rapid Suite 342\nSarahville, FL ...",M,276-59-8074,riggskenneth,NaN
33,"40139 Thomas Forks\nAliciabury, NM 97145",-1058486400000,O+,Robbins-Smith,NaN,"Physicist, medical",djohnson@yahoo.com,Katie Larson,USCGC Henry\nFPO AA 01309,F,088-38-7543,broberts,NaN
34,"187 Lambert Forks\nMeyersview, PA 87365",-603590400000,O-,"Mcdonald, Ray and Baker",NaN,Television floor manager,sararosales@gmail.com,Laura Kennedy,"145 Murillo Island\nHallview, MI 91745",F,695-52-9547,barnettanthony,NaN
35,USCGC Harrington\nFPO AE 03853,1335484800000,A-,"Kelly, Jackson and Williamson",NaN,Geophysical data processor,alexfernandez@yahoo.com,Lindsey Johnson,"72168 Cody Mill\nKimshire, NC 60282",F,134-16-6661,kayla96,NaN
36,"631 Rivera Locks\nMillerview, MA 86676",-1047081600000,AB+,"Martinez, Allen and Cummings",NaN,Mining engineer,millerbrandy@hotmail.com,Jason Byrd,"881 Larry Rapid\nNorth Johnstad, TX 35591",M,126-76-8781,gthornton,NaN
37,Unit 6800 Box 3094\nDPO AE 14893,-711849600000,B-,Harrington PLC,NaN,Medical laboratory scientific officer,rojasmichael@gmail.com,Kevin Robinson,"4287 Lane Square Apt. 963\nNew Vanessa, OK 27632",M,378-21-0177,jsmith,NaN
38,"6368 Rodney Estates\nWest Angelaport, NJ 70363",-764812800000,B+,"Mitchell, Park and Freeman",NaN,Multimedia specialist,jessehughes@yahoo.com,Christopher Johnson,"881 Norton Walk\nRussoborough, AL 13578",M,704-97-8067,jgraham,NaN
39,"PSC 3435, Box 0225\nAPO AP 85257",45014400000,O-,"Mcmillan, Baker and Vasquez",NaN,Applications developer,peggysmith@hotmail.com,Melissa Guerra,"360 Debra Fords Apt. 180\nSouth Jerryfurt, TX ...",F,686-22-7063,joshuanovak,NaN
40,"982 Jessica Tunnel\nNew Thomas, HI 56790",-1754784000000,AB-,Wolf Group,NaN,Engineering geologist,juliaperry@yahoo.com,Johnny Tucker,USNV Owens\nFPO AA 15863,M,715-48-0786,qjones,NaN
41,"93643 Mejia Heights Apt. 107\nJillshire, VT 13585",-782179200000,A+,"Walker, Estrada and Price",NaN,"Scientist, research (medical)",watsonkathryn@gmail.com,Angela Valenzuela,"2165 Robert Parkways\nSouth Crystal, DC 44541",F,825-02-0084,popecatherine,NaN
42,"29209 Riggs Union\nFeliciamouth, MT 57422",-1441152000000,O+,Johnson-Russell,NaN,Camera operator,zvaughan@yahoo.com,Jeffrey Anderson,"6099 Dana Flat Suite 964\nSouth Brandon, CO 03326",M,884-49-5758,antoniokirk,NaN
43,449 Mckinney Meadow Suite 291\nLake Julieville...,-1432339200000,O-,Young-Reid,NaN,"Presenter, broadcasting",thomas33@yahoo.com,Michael Johnson,"980 Ralph Mount\nGregoryborough, MI 18167",M,450-13-1018,johnsongregory,NaN
44,13330 Vincent Glen Suite 273\nEast Mariahborou...,634780800000,B+,"Williams, Reed and Estes",NaN,Garment/textile technologist,tgonzalez@hotmail.com,Jill Rivera,"35430 Shawn Ville Apt. 326\nSouth Melanie, KS ...",F,631-86-1792,mark43,NaN
45,"5842 Dennis Valley Suite 218\nSouth Johnton, O...",868060800000,AB+,Johnson and Sons,NaN,Youth worker,clairemorris@hotmail.com,Michelle Wolfe,"9235 Harris Walks\nNew Patrickchester, MI 99868",F,771-78-0598,tina47,NaN
46,"6640 Leon Ranch\nMyersberg, WY 96847",-1645228800000,B-,Kelly-Bennett,NaN,Claims inspector/assessor,flemingstephanie@gmail.com,Michael Joseph,"503 Mayo Hills Apt. 713\nPort Jessicafurt, LA ...",M,473-88-1735,lisa49,NaN
47,"5669 Schwartz Dale\nSouth Ronaldland, WY 05873",-979084800000,A+,Kelly Ltd,NaN,Comptroller,chadhester@hotmail.com,Austin Wells,"3382 Campbell Views Suite 221\nNorth Noahfurt,...",M,863-67-4132,tracey00,NaN
48,"38643 Victoria Harbors Suite 714\nAndrewsberg,...",-1977350400000,B-,"Snyder, Sharp and Garner",NaN,Technical author,xthomas@gmail.com,Cassandra Casey,"997 Monica Turnpike Suite 219\nNew Kevinhaven,...",F,014-16-9090,emayer,NaN
49,"6771 Jesse Forge Apt. 436\nSouth Kristen, OK 4...",1465257600000,B-,Ross-Alexander,NaN,"Engineer, control and instrumentation",ncrawford@yahoo.com,Emily Riley,Unit 9030 Box 9667\nDPO AP 55112,F,607-66-5912,hoffmanedward,NaN

In [91]:
print(len(df[(df['sex'] == 'F') & (df['blood_group'] == "B+")]))

               0
0          axis0
1          axis1
2   block0_items
3  block0_values
4   block1_items
5  block1_values
6   block2_items
7  block2_values

In [26]:
df = pd.read_html("/Users/magewade/Desktop/Python/Pandas/23110000100100200001____.html")
df2 = df[0]
df2

,Unnamed: 0,Unnamed: 1,23110000100100200001,23110000100100200001 .1,23110000100100200001 .2,23110000100100200001 .3,23110000100100200001 .4,23110000100100200001 .5,23110000100100200001 .6,23110000100100200001 .7,23110000100100200001 .8,23110000100100200001 .9,23110000100100200001 .10,23110000100100200001 .11,23110000100100200001 .12,23110000100100200001 .13,23110000100100200001 .14,23110000100100200001 .15
0,NaN,NaN,,,,,,,,,,,,,,,,
1,NaN,NaN,2022 .,2014 .,2015 .,2016 .,2017 .,2018 .,2019 .,2020 .,2022 .,2014 .,2015 .,2016 .,2017 .,2018 .,2019 .,2020 .
2,,w2:p_mest:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,,643,NaN,305469,277422,259662,76060,-99712,-32130,-577575,-613439,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,,030,NaN,131605,152840,105263,101831,66646,55497,-182596,-146560,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,,44000000000,NaN,-2241,-1726,-775,-1479,-2857,-1085,-1115,-1267,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,,64000000000,NaN,-2636,-1098,51,2837,-543,-1381,-2636,-1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,,99000000000,NaN,-2009,-2248,-1903,-2203,-2101,-1608,-1805,-2669,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,,77000000000,NaN,-15,-383,-335,-474,315,625,-761,513,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,,039,NaN,0,28481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
df3 = df2[(df2.iloc[:, 0] == " ") | (df2.iloc[:, 0].isna())]
df3 = df3.fillna(value=0)
df3.iloc[2, 2:] = df3.iloc[2, 2:].astype(int)
df3

,Unnamed: 0,Unnamed: 1,23110000100100200001,23110000100100200001 .1,23110000100100200001 .2,23110000100100200001 .3,23110000100100200001 .4,23110000100100200001 .5,23110000100100200001 .6,23110000100100200001 .7,23110000100100200001 .8,23110000100100200001 .9,23110000100100200001 .10,23110000100100200001 .11,23110000100100200001 .12,23110000100100200001 .13,23110000100100200001 .14,23110000100100200001 .15
0,0,0,,,,,,,,,,,,,,,,
1,0,0,2022 .,2014 .,2015 .,2016 .,2017 .,2018 .,2019 .,2020 .,2022 .,2014 .,2015 .,2016 .,2017 .,2018 .,2019 .,2020 .
94,,30000000000,0,-2595,-1153,-1387,828,-834,-1707,-1349,1037,0,0,0,0,0,0,0

In [68]:
result = df3.iloc[2, 2:].sum()
result

-7160

In [71]:
-7160 - 1037

-8197