In [1]:
import pandas as pd
import numpy as np

_df = pd.DataFrame([[0, np.nan, np.nan, 3, 4, 5, 6, 7, 8, np.nan],
                    [np.nan, 11, np.nan, 13, 14, 15, 16, 17, 18, np.nan],
                    [np.nan, np.nan, 22, 23, 24, 25, 26, 27, 28, np.nan],
                    [30, 31, 32, 33, 34, np.nan, 36, 37, 38, np.nan],
                    [40, 41, np.nan, 43, 44, 45, 46, 47, 48, np.nan],
                    [50, 51, 52, np.nan, 54, 55, np.nan, 57, 58, np.nan],
                    [60, 61, 62, 63, 64, np.nan, 66, 67, np.nan, np.nan],
                    [np.nan, 71, 72, 73, 74, 75, 76, 77, 78, np.nan],
                    [80, 81, 82, 83, 84, 85, np.nan, 87, 88, np.nan],
                    [90, 91, 92, 93, 94, 95, 96, 97, 98, np.nan]],
                   columns=["A", "B", "C", "D", "E", "F", "G", "H", "J", "K"])

In [2]:
print(_df)

      A     B     C     D   E     F     G   H     J   K
0   0.0   NaN   NaN   3.0   4   5.0   6.0   7   8.0 NaN
1   NaN  11.0   NaN  13.0  14  15.0  16.0  17  18.0 NaN
2   NaN   NaN  22.0  23.0  24  25.0  26.0  27  28.0 NaN
3  30.0  31.0  32.0  33.0  34   NaN  36.0  37  38.0 NaN
4  40.0  41.0   NaN  43.0  44  45.0  46.0  47  48.0 NaN
5  50.0  51.0  52.0   NaN  54  55.0   NaN  57  58.0 NaN
6  60.0  61.0  62.0  63.0  64   NaN  66.0  67   NaN NaN
7   NaN  71.0  72.0  73.0  74  75.0  76.0  77  78.0 NaN
8  80.0  81.0  82.0  83.0  84  85.0   NaN  87  88.0 NaN
9  90.0  91.0  92.0  93.0  94  95.0  96.0  97  98.0 NaN

In [10]:
df_new = _df[["C", "G"]].isna()
_df_ = _df[~((_df["C"].isna()) | (_df["G"].isna()))]
print(_df_)

      A     B     C     D   E     F     G   H     J   K
2   NaN   NaN  22.0  23.0  24  25.0  26.0  27  28.0 NaN
3  30.0  31.0  32.0  33.0  34   NaN  36.0  37  38.0 NaN
6  60.0  61.0  62.0  63.0  64   NaN  66.0  67   NaN NaN
7   NaN  71.0  72.0  73.0  74  75.0  76.0  77  78.0 NaN
9  90.0  91.0  92.0  93.0  94  95.0  96.0  97  98.0 NaN